<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xumob.restaurant.mapper.EmployeeMapper">
    <resultMap id="employeeMapper" type="Employee">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="position_id" property="positionId" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="id_card" property="idCard" />
        <result column="salary" property="salary" />
        <result column="hire_date" property="hireDate" />
        <result column="employment_type" property="employmentType" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, username, password, position_id, name, phone, id_card, salary, hire_date, employment_type, status,
        create_time, update_time
    </sql>

    <select id="selectByEmployeeId" resultMap="employeeMapper">
        SELECT
        <include refid="Base_Column_List" />
        FROM employee
        <where>
            id = #{id}
        </where>
    </select>

    <select id="selectByUserId" resultMap="employeeMapper">
        SELECT
        <include refid="Base_Column_List" />
        FROM employee
        <where>
            user_id = #{userId}
        </where>
    </select>

    <insert id="createEmployee" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO employee (user_id, username, password, position_id, name, phone, id_card, salary, hire_date,
            employment_type, status, create_time, update_time)
        VALUES (#{userId}, #{username}, #{password}, #{positionId}, #{name}, #{phone}, #{idCard}, #{salary},
            #{hireDate}, #{employmentType}, #{status}, #{createTime}, #{updateTime})
    </insert>

    <select id="selectAllEmployees" resultMap="employeeMapper">
        SELECT
        <include refid="Base_Column_List"/>
        FROM employee
    </select>

    <select id="selectEmployeeByUsername" resultMap="employeeMapper">
        SELECT
        <include refid="Base_Column_List"/>
        FROM employee
        <where>
            username = #{username}
        </where>
    </select>
</mapper>